//Color
$color-one: #485C11;
$color-two: #8E9C78;
$color-three: #DFECC6;
$color-four: #E9E9E9;
$color-five: #CECECE;

//Size
$size-text: 17px;
$size-title: 75px;
$size-subtitle: 40px;

//Police
$text-font: 'Sans Caption', sans-serif;
$title-font: 'Display', serif;
$logo-font: 'DM Sans', sans-serif;