//Color
$color-one: #485C11;
$color-two: #8E9C78;
$color-three: #DFECC6;
$color-four: #E9E9E9;
$color-five: #6F6F6F;

//Size
$size-text: 14px;
$size-title: 150px;
$size-subtitle: 36px;

//Police
$text-font: 'DM Sans', sans-serif;
$title-font: 'Display', serif;
$subtitle-font: 'Roboto Mono', sans-serif;
$subtitle-two-font: 'Crimson Text', sans-serif;
$logo-font: 'DM Sans', sans-serif;