.container{
    padding: 30px 100px;
    @media (max-width: 1000px){
        padding: 30px;
    }
    &__hero{
        padding: 50px 0;
    }
    &__logoCloud{
        padding-bottom: 50px;
    }
    &__benefits{
        padding: 50px 0;
    }
}