@use '../abstracts/var';

body {
  font-family: var.$text-font;
  font-size: var.$size-text;
  max-width: 1800px;
  margin: 0 auto;
}

h1{
  font-size: var.$size-subtitle;
  font-family: var.$logo-font;
  font-weight: normal;
}

h2{
  font-size: var.$size-title;
  font-family: var.$title-font;
  font-weight: lighter;
  line-height: 0.9;
}

h3{
  font-weight: normal;
  font-family: var.$subtitle-font;
  color: var.$color-one;
  font-size: var.$size-text;
}

h4{
  font-family: var.$subtitle-two-font;
  font-weight: lighter;
  font-size: 18px;
}

p{
  font-size: var.$size-text;
  font-family: var.$text-font;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: var.$logo-font;
}